div#treelegend {
  width: 200px;
  padding: 15px;
  border: 1px solid;
  margin-bottom: 20px;
}

form {
  width: 350px;
  height: 50px;
  border: 1px solid;
  padding-top: 20px;
}
form input {
  margin-left: 15px;
}

circle.node {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

path.treelink {
  fill: none;
  stroke-width: 1.5px;
}

circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

text {
  font-size:12px;
}

path.link {
  fill: none;
  stroke-width: 1.5px;
}

#cooccur svg {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.background {
  fill: #eee;
}

line {
  stroke: #fff;
}

text.active {
  fill: red;
}
