
<h2>Tag Propagation Graph</h2>
<p style="width:800px;">
Here, every process thread is a node. Edges are formed between
nodes that have communicated with eachother.
</p>
<p style="width:800px;">
The different tags are shown as edges with different colors. These
colors are the same as the ones used in the tree above for the same
tags. Use the checkboxes below to show only certain tags.
</p>
<p style="width:800px;">
Variations on this graph could include representing multiple
connections through edge thickness as opposed to multiple edges and
adding communication direction.
</p>
