<h3>Total Interations Per Process</h3>

<p style="width:800px;">
The x-axis contains a list of all the process threads that
either sent or recieved tags. The y-axis measures the total number
of interactions for the tread. The left stacked bar measures the
number of tags sent by the process. The right stacked bar measures
the number of tags recieved by the process. Different colors within
the bar represent different tags.
<br>
<b>NOTE:</b> Data used here is not real data.
</p>

<div id="stackedThreads"></div>

