<div class="options pie">
    <div class="left-option-item">
        <span class="label"> Mode: </span>
        <label class="label">normal</label>
        <input class="item" type="radio" name="mode" value="normal" checked />
        <label class="label">collapse</label>
        <input class="item" type="radio" name="mode" value="collapse" />
    </div>

    <div class="left-option-item">
        <span class="label"> Interactions: </span>
        <label class="label">All</label>
        <input class="item" type="radio" name="interactions" value="all" checked />

        <label class="label">Sent</label>
        <input class="item" type="radio" name="interactions" value="sent" />

        <label class="label">Received</label>
        <input class="item" type="radio" name="interactions" value="received" />
    </div>
</div>
