<div class="options">
    <div class="right-option-item">
        <div id="treelegend" style="float:right;">
            <span> Legend </span>
        </div>
    </div>

    <div class="left-option-item">
        <span class="label"> Resolution: </span>
        <div style="float: left;" class="item">
            <input type="hidden" value="1" id="treelifeline-slide"/>
        </div>
    </div>

    <div class="left-option-item">
        <span class="label"> Mode: </span>
        <label class="label">normal</label>
        <input class="item" type="radio" name="mode" value="normal" checked />
        <label class="label">collapse</label>
        <input class="item" type="radio" name="mode" value="collapse" />
    </div>
</div>

