<div>
    <h2>Tag Propagation Over Time</h2>
    <p style="width:800px;">
        A tree node represents a process thread.  An edge between two
        nodes represents communication between them.  The parent is the
        process that sends the tag, and the child is the receiving
        process. The tree nodes are vertically aligned with respect to time,
        and the time resolution can be changed below.
    </p>
    <p style="width:800px;">
      Here, real data is used after assigning a tag ("2") to firefox threads and
      waiting for a few seconds. One tag name was changed to "0" to show
      an example legend.
    </p>
</div>

